# --- 1. 敏感信息与私钥 (必须添加) ---
.env
.env.local
.env.*.local
*.pem
*.key
service-account-file.json
# 拦截所有包含 secret 的文件
*secret*

# --- 2. 依赖与日志 ---
node_modules
dist
dist-ssr
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- 3. 编辑器与系统 ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- 4. Firebase 特定 (添加) ---
.firebase/
firebase-debug.log*
# 存储本地模拟器数据的目录
.emulators/