name: Deploy to Firebase Hosting on Merge
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install dependencies
        run: npm install

      - name: Install Functions Dependencies
        run: cd functions && npm install

      - name: Build project
        run: npm run build
        
      - name: Deploy to Firebase Hosting
        # 使用特定的 firebase-tools 命令，而不是可能带 bug 的封装 action
        run: npx firebase-tools deploy --only hosting,functions --force --project fivenursings-73917017-a0dfd
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}