name: Deploy to Firebase Hosting on Merge
'on':
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Dependencies
        run: npm install
        
      - name: Build Project
        run: npm run build
        
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          # 注意：这里彻底删除了 firebaseServiceAccount 引用
          projectId: fivenursings-73917017-a0dfd
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
